doctype html
html 
  head 
    title Charity
    style
      include stylecharity.css
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" ,rel="stylesheet")
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap" ,rel="stylesheet")
      link(rel="preconnect" ,href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Merriweather:wght@300&display=swap",rel="stylesheet")
      link(rel="preconnect" ,href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" ,rel="stylesheet")
  body 
    <header>
        <div id="logo">
            <img src="../static/h2.jpg" alt="CHARITY.com">
        </div>
        <div id="nav">
            <ul>
                <li class="iteam"><a href="#home">Home</a></li>
                <li class="iteam"><a href="#service">Service</a></li>
                <li class="iteam"><a href="#aboutus">About Us</a></li>
                <li class="iteam"><a href="#Sponorship">Our Sponorship</a></li>
                <li class="iteam"><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </header>
    <section id="home">
        <h1>Give a helping
          <br>  hand to those <br>
           | Who need it!
        </h1>
    <aside>
        <form>
            <a href="/contact">
            <button id="btn">Make a Donation</a></button>
        </form>
    </aside>
    </section>

    <br><br><br>
    <section id="service">
        <h1>Service</h1>
        <div id="boxes">

            <br><br><br>
            <div class="box1">
                <img src="../static/box1.jpg" alt="charity.com">
                <br/>
                <h2>Provide Food</h2>
                <p>With my whole team we gave food to poor people , who can't afford foods and can't able to fulfil
                |  there need, we do these work in my full team and we assure to poor people to not sleep without
                |  food.
                </p>
            </div>
            <div class="box1">
                <img src="../static/box2.jpg" alt="charity.com">
                <h2>Immediate Calls</h2>
                <p>We also have emergency team , who work on the immediate call any accident or any healthy issue , so
                   | are team provide there best healthy treatment...</p>
            </div>
            <div class="box1">
                <img src="../static/box3.PNG" alt="charity.com">
                <h2>Future child</h2>
                <p>Our team also provide best education to poor people , who want to study and for adults we provide
                   | employment as work with are my team to get more members and easy for there livehood...</p>
            </div>
        </div>

    </section>
    <section id="aboutus">
        <h1>About-Us</h1>
        <div class="pic1">
            <img src="../static/pg1.jpg" alt="charity.com">
            <p>We have more than 500 hundred people , who work for poor people , beggar and for unble to do work , Our
               | group provide free food , free medical and help in education system . Your small amount of charity were
               | very useful for us ,So let make our city less beggar and more employment
               | <br><br>
               | <br><br>
               | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               | &nbsp; &nbsp; &nbsp;
               |  CAN ALSO JOIN US AS A VOLUNATEER!
            </p>
        </div>

        <video controls>
            <source src="../static/v1.mp4" type="video/mp4">
        </video>
    </section> 
    <h1 id="os">Our Sponorship</h1>
    <section id="Sponorship">
        <div class="class"></div>
        <div class="class"></div>
        <div class="class"></div>
        <ul>
            <li><a href="https://www.facebook.com/"><img src="../static/f2.PNG" alt="kata"></a></li>
            <li><a href="https://www.whatsapp.com/"><img src="../static/w3.png" alt="kata"></a></li>
            <li><a href="https://in.linkedin.com/?hl=en"><img src="../static/l1.PNG" alt="kata"></a></li>
            <li><a href="https://www.instagram.com/?hl=en"><img src="../static/i1.PNG" alt="kata"></a></li>
            <li><a href="https://twitter.com/i/flow/login?hl=en"><img src="../static/t2.jpeg" alt="kata"></a></li>
        </ul>
    </section>  
    section 
      footer 
        <h1 align="center">Copyright &copy;Charity -All rights reserved!</h1>
   
